/* .App {
  text-align: left;
} */

.Title {
  overflow: hidden;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 999;
  margin:0;
  background-color: #39CCCC;
}

.Body {
  margin-top: 75px;
  position:absolute;
  top: 75px;
  overflow: hidden;
}

.Professional {
  background-color: #01FF70;
  display: inline-block;
  width: 100%; 
}

.School {
  background-color: yellow;
  display: inline-block;
  width: 100%; 
}

.Projects {
  background-color: green;
  display: inline-block;
  width: 100%; 
}

.Personal {
  background-color: yellow;
  display: inline-block;
  width: 100%; 
}

.Contact {
  display: inline-block;
  width: 100%; 
}

.portfolio-row {
  display: flex;
}

.portfolio-thumb {
  align-items: center;
  text-align: center;
  width: 45%;
  position: relative;
  margin: 20px;
  background-color: greenyellow;
  display: inline-block;
  background-position-x: initial;
  background-position-y: initial;
  margin-right: 2.5%;
  margin-left: 2.5%;
}

a.class_links:link, a.class_links:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}

a.class_links:hover, a.class_links:active {
  background-color: rgb(255, 115, 0);
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 25%;
  margin-left: -3px;
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}


/* Place the container to the right */
.timeline-right {
  left: 25%;
}

/* Add arrows to the right container (pointing left) */
.timeline-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.timeline-right::after {
  left: -16px;
}

/* The actual content */
.timeline-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.carousel {
  display: flex;
  align-items: center;
}

.slide-arrow {
  color: white;
  font-size: 4rem;
  position: absolute;
}

.slide-arrow.right {
  right: 25%;
}

.slide-arrow.left {
  left: 25%;
}

ul {
  list-style: none;
}

li {
  margin: 0 0 15px 0;
}

img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  
  height: auto;
  padding: 10px;
}

img.slide {
  width: 50%;
  height: auto;
}

img.contact {
  display: inline-block;
}

.contact-row {
  text-align: center;
  margin: 0 auto;
}

a.contact:link, a.contact:visited {
  display: block;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 10%;
}

a.contact:hover, a.contact:active {
  background-color: white;
}

p {
  margin-left: auto;
  margin-right: auto;
}

p.school-summary {
  width: 50%
}

p.portfolio-summary {
  width: 80%
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #39CCCC;
  text-align: center;
}

